.all__category__filter select,
.all__items__filter select,
.filter__right select {
  padding: 8px 8px;
  font-size: 0.9rem;
  color: #EA938A;
  cursor: pointer;

  outline: none;
  background: none;
  border-color: #EA938A;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .all__category__filter select,
  .all__items__filter select,
  .filter__right select {
    padding: 5px 20px;
    font-size: 0.6rem;
  }
}
